body{
    background-color: #111;
}
.App{

    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}
.content{
    width: 25%;
    height: 300px;
}
.image{
    width: 100%;
    height: 100%;
}
.alert{
    color: #fff;
}
.searchbar{
    display:grid;
    padding-bottom: 5%;
    padding-top: 2%;
    width: 80%;
    height: 35px;
}

.main{
    display:grid;
    width: 100%;
    padding: 8%;
}

.useState_hook{
    padding-top: 30%;
}